body{
	margin: 0px;
	padding: 0px;
}
 
header{
	height: 40px;
	width: auto;
	background-color: #f8f8f8 ; 
}
tr{
	text-align: center;
}
.headerimg{
	width: 1322px;
	height: 350px;
}
/* sidebar */
.sidebar{
	background: #f5f5f5;
	height: 1200px;
	border: 1px solid #e5e5e5;
}

p.title_header{
	font-size: 22px;
	text-align: center;
	margin: auto;
	line-height: 40px;
}
/* sidebar */
.panel-body > li{
	height: 50px;
	list-style-type: none;
	border: 1px solid #e5e5e5;
}
.panel-heading{
	height: 50px;
	list-style-type: none;
	border: 1px solid #e5e5e5;
}

.panel-heading:hover{
	background: #cccccc;
}
.panel-body > li:hover{
	background: #cccccc;
}
.title{
	text-decoration: none;
	font-size: 18px;
	margin-left: 30px;
	font-family: Antiqua;
	color: #4c4c4c;
	line-height: 50px;
}

.title:hover{
	text-decoration: none;
}

.panel-body li i{
	margin-left: 10px; 
}

.panel-heading i{
	margin-left: 10px; 
}

/* btngroup */
.btn_group{
	margin: 0px;

}
/* input */
input.form-control{
	background: #f8f8f8;
}

input{
	text-align: center;
}

/* advance button */
.advance{
	height: 50px;
}
.advance > li{
	height: 50px;
	list-style-type: none;
	border: 1px solid #e5e5e5;
}
.a{
	height: 50px;
	text-decoration: none;
	font-size: 18px;
	font-family: Antiqua;
	color: #4c4c4c;	
}

a.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 150px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.para{
	margin-left: 20px;
}

.menu{
	padding: 0px;
}

.item{
	padding: 0px;
	margin: 0px;
	width: 325px;
	height: 50px;
	text-decoration: none;
	font-size: 18px;
	font-family: Antiqua;
	color: #4c4c4c;	
	line-height: 50px;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
}
.a:hover{
	background: #cccccc;	
}
.item:hover{
	background: #cccccc;
	color:#005fbf;
}

legend{
	font-size: 20px;
	font-family: Anquila;
}

ul:before,
ul:after{
	content: '';
	display: table;
}
ul:after{
	clear: both;
}

.project{	
	list-style: none;
	padding: 0px;
}

.project > li{
	text-align: left;
	height: 30px;
}