body{
	width: 100vw;
	margin: 0px;padding: 0px;
}
.add_product_menu{
	margin-top: -2%;
}
.image_add_product{
    width: 100%;
    height: 750px;
}
.active{
	margin-left: 10%;
}
.title_home{
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	font-size: 20px;
}

.title_home > a:hover{
	color: #ff56aa;
}

.title_add_product{
	font-size: 3rem;
	margin-bottom: 5%;
	display: inline;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
.title_add_product > a{
	font-size: 2.2rem;
	margin-right:20%;
	text-decoration: none;
	color: black;
}
.title_add_product > a > i{
	color: black;
}
.add_product_title{
	border-bottom-style: ridge;
	margin-bottom: 5%;
}
.input--text{
	height: 50px;
	border-radius: 40px;
	padding: 25px 12px;
	margin-top: 10px;
	margin-bottom: 9px!important;
}
.input--file{
	margin-left: 100px;
	margin-top: 10px;
}
.malecheck{
	margin-left: 100px;
	font-size: 18px;
}
.form-check{
	margin-left: 50px;
}
.form-control{
	height: 45px;
}
.btn-primary{
	margin-left:  98px;
	font-size: 21px;
	width: 65%;
}
label{
	font-size: 15px;
	font-weight: 650;
	margin-left: 13px;
}
form>button{
	width: 82%;margin-left:10%;
}
 @media(max-width: 576px){
 	*{}
 	.title_add_product{
 		font-size: 2rem;
 	}
 	.title_add_product>a{
 		font-size: 1.2rem;
 	}
 }
